<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card
            id="1"
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
            cardTitle="Card Title"
            cardDescription="Card Description"
        >
        </app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
            cardTitle="Small Card Title 1"
        >
        </app-small-card>
        <app-small-card
            id="3"
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
            cardTitle="Small Card Title 2"
        >            
        </app-small-card>
        <app-small-card
            id="4"
            photoCover="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/681px-Placeholder_view_vector.svg.png"
            cardTitle="Small Card Title 3"
        >
        </app-small-card>
    </div>
</div>
